.block-left{
    width:320px;
    min-height:600px;

    border:2px solid blue;
    float:left;

}
.block-left ul{
    display:flex;
    flex-direction:column;
    margin-left:20px;


}
.genre_str{
    background-color:white;
    border:1px solid white;
    font-size:1.2em;
    margin-top:10px;
    position:relative;
    /*z-index:;*/


}
.right-block{
    float:right;
    width:980px;
    min-height:100vh;
    border:3px solid yellow;




}
.title-movie{
    color:black;
}
.post{
    border:3px solid blue;
    width:300px;
    min-height:450px;
    margin-bottom:10px;
    margin:10px;
    overflow:hidden;
    float:left;


}
.post-img{
    width:100%;
    height:350px;


}
.post-meta{
    width:100%;
    height:40px;
    border:3px solid red;
}
#img_poster{
    width:100%;
    height:100%;
}
.slogan{
    width:100%;
    min-height:80px;
    border:2px solid green;
    text-align:center;
}
.otstup{
    margin-top:15px;
    margin-left:20px;
}
.button-style-filter{
    height:35px;
    width:70px;
    border:1px outset silver;
    border-radius:4px;
    color:green;
    font-size:1.0em;
    margin-left:20px;
    margin-top:10px;

}
